@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Raleway&display=swap');
.about__header {
    background: #000F19;
}

.about__header h1 {
    font-size: 40px;
    font-weight: 550;
    line-height: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    margin: 2rem 4rem 2rem 4rem;
}

.first__about {
    display: flex;
    flex-direction: row;
}

.first-about-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 1.0rem;
    margin-left: 2.5rem;
}

.first-about-content p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
    ;
    margin-top: 1.5rem;
}

.first-about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-about-image img {
    width: 80%;
    height: 90%;
}

@media screen and (max-width: 1050px) {
    .first__about {
        flex-direction: column;
        margin: 2px;
    }
    .first-about-content {
        margin: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .about__header h1 {
        font-size: 22px;
        line-height: 33px;
        margin: 0.8rem 1rem;
    }
    .first-about-content p {
        font-size: 15px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .about__header h1 {
        font-size: 18px;
        line-height: 38px;
        margin: 1.2rem 1rem;
    }
    .first-about-content p {
        font-size: 18px;
        line-height: 20px;
    }
}