.btn {
    background-color: whitesmoke;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
    transition: 0.3s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F1F1F;
    height: 20px;
    width: 180px;
    border-radius: 15px;
    padding: 22px 26px 22px 26px;
}

.btn span {
    background-color: whitesmoke;
}

.btn:hover {
    background: whitesmoke;
    color: blueviolet;
}

a {
    text-decoration: none;
}

.btn span {
    margin-left: 0.7rem;
}

@media screen and (max-width: 900px) {}