    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Raleway&display=swap');
    .footer {
        display: flex;
        flex-direction: row;
        background: #06151F;
        border-radius: 1px;
        height: 30vh;
        margin: 8rem 0 0 0;
        border-color: #183142;
    }
    
    .footer__head {
        margin: 1rem 5rem 1rem 5rem;
        background-color: transparent;
    }
    
    .footer__head h2 {
        color: whitesmoke;
        background-color: transparent;
        font-size: x-large;
        font-weight: 400;
        font-family: 'Outfit' sans-serif;
    }
    
    .footer__head input {
        height: 27px;
        width: 180px;
        border-radius: 3px;
        background-color: transparent;
    }
    
    .footer__sub {
        margin: 1rem 0 0 3rem;
        background-color: transparent;
    }
    
    input::placeholder {
        color: #fff;
    }
    
    input,
    select,
    textarea {
        color: #fff;
    }
    
    .footer__text {
        color: whitesmoke;
        background-color: transparent;
        margin: 0 5rem 0 0;
        font-family: 'Outfit' sans-serif;
        font-size: larger;
    }
    
    .footer__text:hover {
        color: blueviolet;
        font-size: x-large;
    }
    
    .footer__icons {
        margin: 2rem 2rem 0 0;
        background-color: transparent;
    }
    
    .social__icons {
        margin: 0 2rem 0 0;
        background-color: transparent;
        border: none;
        color: whitesmoke;
    }
    
    .social {
        height: 25px;
        width: 25px;
        margin-right: 1rem;
    }
    
    .social:hover {
        color: blueviolet;
    }
    
    .copyright {
        background: #06151F;
        justify-content: center;
    }
    
    .copyright p {
        color: whitesmoke;
        text-align: center;
        font-family: 'Outfit' sans-serif;
        background-color: transparent;
    }
    
    .copyright p:nth-child(2) {
        padding-bottom: 3rem;
    }
    
    @media screen and (max-width: 1050px) {
        .footer {
            flex-direction: column;
            margin: 0.1rem;
        }
    }
    
    @media screen and (max-width: 490px) {
        .footer__head {
            margin: 2.5rem 0 1rem 1rem;
        }
        .footer__sub {
            margin: 0.5rem 0 0 1rem;
        }
        .footer__text {
            margin: 0 1rem 0 0;
        }
        .copyright {
            margin: 0.5rem;
        }
    }