@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@700&display=swap");
* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background: #000F19;
    ;
}

.home,
.Items,
.Mints,
.AboutUs,
.Connect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 4rem;
}